table {
  border: solid 2px black;
  margin: auto;
}

tr {
  border: solid 2px black;
}

td {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: auto;
}

.row1 {
  background-color: aqua;
}/*# sourceMappingURL=style.css.map */